<!-- Don't mind anything wrapped up in the styles container -->
<style>
    :root {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }
    h1 {
        text-align: center;
    }
    .sub {
        text-align: center;
    }
    .req {
        width: fit-content;
        margin: 2px auto;
    }
    .req p {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        margin: 0;
    }
    ol li {
        margin-bottom: 3.5px;
        font-size: 1rem;

    }
    .startBtn {
        border: 1px solid rgba(90, 90, 90, 0.363);
        display: block;
        width: 140px;
        text-align: center;
        margin: 2px auto;
        padding: 5px;
        text-decoration: none;
        color: blue;
        border-radius: 5px;
        background-color: rgba(145, 146, 148, 0.514);
        font-weight: bold;
    }
    .startBtn:hover {
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.712);
    }

</style>

<h1>
    Welcome to Master-Auth
</h1>
<div>
    <p class="sub">Master-auth is an python/django open source project designed, to help assist junior developers.
    It has all instructions, steps, and guides to help user navigate through the system.
    </p>
    <div class="req">
      <p>Ensure: </p>
      <ol>
          <li>You understand python basics</li>
          <li>You understand django basics </li>
      </ol>
    </div>
    <a class="startBtn" href="selection" rel="noopenner">Get Started</a>

    
</div>